.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    align-self: end;

  }
}

@media screen and (max-width: 570px) {
  .place__title {
    font-size: 36px;
    line-height: 1.2;

  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}
