.photo-grid {
  padding: 0 48px 0;
  margin: 92px 0 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid {}
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 0;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 0 16px 0;
    margin: 64px 0 0;
  }
}
