.places {
  margin: 90px 148px 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 86px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 61px 0 0;
  }
}
