.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 48px 0;
  color: white;
  position: relative;
  z-index: 2;
  max-width: 450px;
}

@media screen and (max-width: 700px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.2;
    margin: 32px 50px 0;
    max-width: 450px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 16px 0;
    max-width: 288px;
  }
}
