.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 26px 0 0;
}

.place__text:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 0 0;
  }
}
