.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    line-height: 14px;
    align-self: flex-start;
  }
}
