.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 0;
  padding: 0 45px;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 28px 0;
    padding: 0;
  }
}
